@{
    ViewData["Title"] = "Weight Tracker";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jacob Tunning's Weight Tracker</h1>
</div>

<h4>Here we will do our best to support you and your fitness goals. No matter where you are starting from, the fitness community will be there with you every step of the way.</h4>
<img src="~/images/homePage.jpg" class="centerImage" alt="Group of people working out"/>

