@{
    ViewData["Title"] = "Weight Tracker";
}

<div class="text-center">
    <h1 class="display-4">More Fitness Information</h1>
</div>

<h3>Start Losing Weight</h3>
<ul>
    <li>If you want to start losing weight you have to have the right attidue and be persistent, it won't be easy</li>
    <li>You should always eat a nutrition and healthy breakfast every morning</li>
    <li>Get in a habit of counting your calories and being mindful of the portions you eat. The fundamental formula for weight loss is to be in a caloric deficit</li>
    <li>Don't get sucked into all the of trendy diets that you hear about. They don't always work for everyone and you may gain your weight right back</li>
</ul>

<p>For more information about the basics of weight loss you can visit the website <a href="https://www.cdc.gov/healthyweight/losing_weight/index.html">here</a></p>