@model BMIViewModel
@{
    ViewData["Title"] = "BMI Calculator";
}

<h1 style="text-align:center">BMI Calculator</h1>

<p>Here you will be able to enter you weight for the day and you can see how close you are to your goal.</p>
<p>If you ever need to change your goal weight, you are able to by clicking on the Account Information table in the top right of your screen.</p>

<h3>Enter in your weight for today to receive you daily BMI and progression results!</h3>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Calculator" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="currentWeight">Enter your current weight</label>
                <input asp-for="currentWeight" class="form-control" />
                <span asp-validation-for="currentWeight" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </div>
    <div class="col-md-12">
        @if (Model.currentWeight == 0)
        {}
        else
        {
            <h2>You are @Math.Round(Model.calculateProgress(Model.currentWeight, Model.goalWeight), 2)% of the way towards your goal weight of @Model.goalWeight</h2>
            <h2>Your BMI is: @Math.Round(Model.calculateBMI(Model.currentWeight, Model.height), 2)</h2>
            <h2>According to the BMI scale, you are @Model.category(Model.calculateBMI(Model.currentWeight, Model.height))</h2>
        }
        <br />
        <img class="centerImage" src="~/images/bench.jpg" />
    </div>
</div>